.body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.text{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgba(55, 34, 75, 0.788);
}
.h2text{
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    color: rgba(55, 34, 75, 0.788);
}
/* header */
.header_main_div {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight:bold;
    background-image: url('asset/header_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 600px) {
    .header_main_div {
        font-size: 15px;
    }
}
.header_webname_div{
    opacity: 1;
    display:flex;
    justify-content: space-around;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration:underline;
}
a:active {
    text-decoration:none;
}
/* Home page  */
.Home_main{
    margin:auto;
    width:fit-content;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.Home_newReport_btn, .Home_SnF_btn,
.back_to_login_btn, .reset_pw_btn, 
.reset_pw_submit_btn, .back_to_fileAReport, .back_to_signUp_btn, 
.login_submit_btn, .logout_submit_btn {
    width: fit-content;
    height: fit-content;
    border-radius:10px;
    font-size: 22px;
    color: black;
}
.Home_newReport_btn:hover, .Home_SnF_btn:hover, 
.back_to_login_btn:hover, .logout_submit_btn:hover, .reset_pw_btn:hover, 
.reset_pw_submit_btn:hover, .back_to_signUp_btn:hover, 
.login_submit_btn:hover, .back_to_fileAReport:hover{
    scale: 1.125;
    color: rgb(170, 161, 161);
}

/* sign-up  */

.sign_up_main_div, 
.sign_up_form_div, 
.main_form_div, 
.sign_up_form,
.sign_up_main_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    width:fit-content;
}

/* log in page  */

.form_login, .success_logout_div, .failed_cred_main_div,
.email_reset_div, 
.complete_cred_main_div, .email_reset_complete_div, 
.user_profile_main_div, .fileAreport_opt, .formUpdatePw, .no_my_reports_found{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    width:fit-content;
    height: 30vh;
}
.login_div_cred{
    margin:auto;
    width:fit-content;
    height:30vh;
}
.login_input, .email_reset_input{
    scale:1.4;
    height: 1.75rem;
    border-radius: 5px;
}
.login_input:hover, .email_reset_input:hover {
    border-color: brown;
}
.login_label{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: rgba(55, 34, 75, 0.788);
}
.login_signUp_opt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:fit-content;
}



/* new report  */

.fileAReport_main_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left_side_div, .new_report_question_div{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
.cat_pic_small {
    max-width:200px;
    max-height:200px;
}

/* search and found board */

.board_main_poster_div{
    background-color: red;
    width:fit-content;
    margin:auto;
}
.lost_cat_pic{
    max-width:250px;
    max-height:250px;
}

/* Poster */
.capture {
    display:flex;
    margin:auto;
    position:relative;
}
.capture_img{
    margin:auto;
    height:1000px;
    width:900px;
}
.capture_h1 {
    margin:auto;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    box-sizing: border-box;
    position:absolute;
    font-size: 6rem;
    text-align: center;
    color:white;
}
.capture_h2 {
    margin:auto;
    /* top: 0em; */
    left: 0.5em;
    right: 0.5em;
    bottom: 5em;
    box-sizing: border-box;
    position:absolute;
    font-size: 3rem;
    text-align: center;
    color:white;
}
.capture_CatName {
    margin:auto;
    /* top: 0.5em; */
    left: 0.5em;
    right: 0.5em;
    bottom: 1.5em;
    box-sizing: border-box;
    position:absolute;
    font-size: 6rem;
    text-align: center;
    color:white;
}
.capture_Info{
    margin:auto;
    /* top: 0.5em; */
    left: 0.5em;
    right: 0.5em;
    bottom: 1.5em;
    box-sizing: border-box;
    position:absolute;
    font-size: 1.5rem;
    text-align: center;
    color:white;
}
.capture_Info2{
    margin:auto;
    /* top: 0.5em; */
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    box-sizing: border-box;
    position:absolute;
    font-size: 1.5rem;
    text-align: center;
    color:white;
}
.poster_img{
    width: 80vw;
    height: 90vh;
}
/* user profile page  */
.user_profile_main_div {

}